/*@import url('https://fonts.googleapis.com/css2?family=Brightwall&display=swap');*/

body {
  /* stops whitespace flicker */
  overflow: hidden;
}

/* get brightwall font */
@font-face {
  font-family: 'brightwall';
  src: url(./assets/brightwall/Brightwall.ttf);
  font-weight: normal;
  font-style: normal;
}

.banner {
  font-family: 'brightwall', sans-serif;
  background-color: #C65E42;
  color: white;
  text-align: center;
  font-size: 20px;
  margin: 0;
  position: sticky;
  top: 0;
}

.navList {
  list-style: none;
  display: flex;
  gap: 20px;
  text-align: center;
  justify-content: center;
  text-align: center;
}

.navBar {
  background-color: #FFFBF3;
}

.navElement {
  display: inLine;
  text-decoration:none;
  color: #3B2A1D;
}

.navList .active {
  font-weight: bold;
  font-style: italic;
  display: inLine;
  text-decoration:none;
  color: #3B2A1D;
}

.navElement:hover {
  color:#C65E42;
}